<div class="card col-lg-12">
    <div class="card-body">
        <div class="text-center">
            <h4 class="card-title">INDQ events</h4>
            <h5>Agregar evento</h5>
        </div>
    </div>

    <form #eventForm="ngForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Titulo:</label>
                    <input type="text" name="titulo" #titulo="ngModel" [(ngModel)]="evento.title" class="form-control"
                        tabindex="1" placeholder="Ingresa el titulo del evento" required>
                    <small *ngIf="titulo.touched && !titulo.valid" class="form-text text-danger danger">El titulo no es
                        valido</small>
                </div>
                <div class="form-group">
                    <label>Descripción:</label>
                    <textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="evento.description" rows="4"
                        tabindex="2" class="form-control" tabindex="1" placeholder="Ingresa descripción del evento"
                        required></textarea>
                    <small *ngIf="descripcion.touched && !descripcion.valid" class="form-text text-danger danger">La
                        descrioción no es
                        valida</small>
                </div>

                <div class="form-group">
                    <label>Fecha:</label>
                    <input type="datetime-local" name="fecha" #fecha="ngModel" [(ngModel)]="evento.date" class="form-control"
                        tabindex="3" [min]="hoy" placeholder="Ingresa la fecha del evento" required>
                    <small *ngIf="fecha.touched && !fecha.valid " class="form-text text-danger danger">La fecha no es
                        valida</small>
                </div>

            </div>

            <!-- SUBIR IMAGEN -->
            <div class="col-lg-6">
                <label>Imagen del evento</label>
                <div class="imagen" align="center">
                    <img *ngIf="!imgTemp && !subiendo" src="assets/img/noimage.png" class="w150 m-4" alt="">
                    <img *ngIf="imgTemp && !subiendo" [src]="imgTemp" class="w250 m-5" alt="">
                    <app-loading *ngIf="subiendo"></app-loading>
                </div>
                <input *ngIf="!evento.image && !subiendo" type="file" class="form-control-file" name="image"
                    (change)="seleccioarImagen($event.target.files[0])" accept="image/jpeg,image/jpg,image/png"
                    required>
                <small *ngIf="!evento.image && !subiendo" class="form-text text-danger text-center">
                    Es necesario subir una imagen para poder guardar el evento
                </small>
                <small *ngIf="subiendo" class="form-text text-danger text-center">
                    Guardando imagen para el evento
                </small>
                <br>
                <div class="mt-2 text-center">
                    <button *ngIf="(imgTemp && !subiendo) || evento.image" class="btn btn-warning mr-2 btn-sm" (click)="quitarImg()">
                        <i class="fa fa-plus"></i>
                        Quitar imagen
                    </button>
                    <button *ngIf="imgTemp && !evento.image && !subiendo" class="btn btn-success btn-sm" (click)="subirImg()">
                        <i class="fa fa-plus"></i>
                        Subir imagen
                    </button>
                </div>
            </div>
        </div>
        <!-- END SUBIR IMAGEN -->

        <!-- GOOGLE PACES -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <label>Buscar ubicación: </label>
                <input class="form-control" ngx-google-places-autocomplete #placesRef="ngx-places"
                    (onAddressChange)="handleAddressChange($event)" />
            </div>
        </div>
        <!-- END GOOGLE PLACES -->

        <!-- MAPA -->
        <div class="row mt-4">
            <div class="col-lg-8 offset-lg-2 m-auto">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                    [zoomControl]="false" (mapClick)="mapClicked($event)" (zoomChange)="changeZoom($event)">
                    <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label"
                        [markerDraggable]="marker.draggable" (dragEnd)="markerDragEnd($event)">
                        <agm-info-window [latitude]="marker.lat" [longitude]="marker.lng">
                            <strong> {{marker.place}} </strong>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>
        <!-- FIN MAPA -->

        <div class="row mt-5">
            <div class="col-lg-12 m-auto text-center">
                <button class="btn btn-danger  m-3" (click)="cancelar()">Cancelar</button>
                <button class="btn btn-success  m-3" (click)="guardar()"
                    [disabled]="!eventForm.valid || !evento.image">Guardar</button>
            </div>
        </div>
    </form>
</div>